<%= form_for [@todo_list, @todo_item] do |form| %>
	<% if @todo_item.errors.any? %>
	<div id="error_explanation">
	<h2><%= pluralize(@todo_item.errors.count, "error") %> prohibited this from being saved:</h2>

	<ul>
		<% @todo_item.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
	</div>
<% end %>
	<br />
	<%= form.text_field :content, autofocus: "autofocus" %>

	<%= form.submit "Save" %>
<% end %>
	